<div class="card h-100 mx-2">
  <img
    [src]="product.thumbnail"
    height="200px"
    class="card-img-top"
    alt="img"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <div class="row card-text">
      <div class="col">
        <p class="price">{{ product.price | currency }}</p>
      </div>
      <div class="col">
        <p class="original-price">{{ product.original_price | currency }}</p>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-grid gap-2">
      <button class="btn btn-dark" type="button"><fa-icon style="margin-right: 1em;" [icon]="faShoppingCart"></fa-icon>Agregar al carrito</button>
    </div>
  </div>
</div>
