<footer
  style="color: white; background-color: black"
  class="text-center text-lg-start desptok"
>
  <section
    class="
      d-flex
      justify-content-center justify-content-lg-between
      border-bottom
    "
  >
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Políticas</h6>
          <p>Políticas de privacidad</p>
          <p>Políticas de cambio</p>
          <p>Políticas de envio</p>
          <p>Terminos y condiciones</p>
          <p>Responsabilidad social</p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Sobre nosotros</h6>
          <p>Encuentra tu tienda</p>
          <p>Contáctanos</p>
          <p>Trabaja con nosotros</p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Siguenos en:</h6>
          <img height="50px" src="/assets/img/face.png" alt="face" />
          <img
            style="margin-right: 0.5em"
            height="35px"
            src="/assets/img/twit.png"
            alt="face"
          />
          <img
            style="margin-right: 0.5em"
            height="35px"
            src="/assets/img/insta.png"
            alt="face"
          />
          <img
            style="margin-right: 0.5em"
            height="35px"
            src="/assets/img/yt.png"
            alt="face"
          />
        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-2" style="background-color: black">
    <p>© Copyright Colombia. Todos los derechos reservados</p>
  </div>
</footer>

<!-- Footer Movil -->

<footer
  style="color: white; background-color: black"
  class="text-center text-lg-start mobile"
>
  <div
    class="
      d-flex
      justify-content-center justify-content-lg-between
      border-bottom
    "
  >
    <div class="container text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <div class="row">
            <div class="col-10">
              <h6 style="text-align: left" class="text-uppercase fw-bold mb-4">
                Políticas
              </h6>
            </div>
            <div class="col-2">
              <fa-icon [icon]="faPlus"></fa-icon>
            </div>
          </div>
          <hr />
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <div class="row">
            <div class="col-10">
              <h6 style="text-align: left" class="text-uppercase fw-bold mb-4">
                Sobre nosotros
              </h6>
            </div>
            <div class="col-2">
              <fa-icon [icon]="faPlus"></fa-icon>
            </div>
          </div>
          <hr />
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <div class="row">
            <div class="col-10">
              <h6 style="text-align: left" class="text-uppercase fw-bold mb-4">
                Medios de pago
              </h6>
            </div>
            <div class="col-2">
              <fa-icon [icon]="faPlus"></fa-icon>
            </div>
          </div>
          <hr />
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 style="text-align: left" class="text-uppercase fw-bold mb-4">
            Siguenos en:
          </h6>
          <div class="d-flex justify-content-left">
            <img
              style="top: -0.4em; position: relative"
              height="50px"
              src="/assets/img/face.png"
              alt="face"
            />
            <img
              style="margin-right: 0.5em"
              height="35px"
              src="/assets/img/twit.png"
              alt="face"
            />
            <img
              style="margin-right: 0.5em"
              height="35px"
              src="/assets/img/insta.png"
              alt="face"
            />
            <img
              style="margin-right: 0.5em"
              height="35px"
              src="/assets/img/yt.png"
              alt="face"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-2" style="background-color: black">
    <p>© Copyright Colombia. Todos los derechos reservados</p>
  </div>
</footer>
