<div>
  <h2 style="font-weight: bold" class="text-center">PRODUCTOS MÁS BUSCADOS</h2>
  <div class="container mt-4">
    <p-carousel
      [value]="moreSearch"
      [numVisible]="4"
      [numScroll]="3"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [showIndicators]="false"
    >
      <ng-template pTemplate="header"> </ng-template>
      <ng-template let-product pTemplate="item">
        <app-card [product]="product"></app-card>
      </ng-template>
    </p-carousel>
  </div>
</div>
