<div class="fixed-top">
  <nav
    aria-label="Nav-title"
    class="navbar navbar-expand-lg navbar-light bg-light"
  >
    <div style="width: 100%" class="row">
      <div class="col-sm-1">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="col-md-3">
        <img height="55px" src="/assets/img/clothesstore.png" alt="search" />
      </div>
      <div class="col-md-4 mt-2">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Buscar aquí producto"
            aria-label="buscar aqui producto"
            aria-describedby="basic-addon2"
          />
          <span class="input-group-text" id="basic-addon2">
            <img height="20px" src="/assets/img/search-icon.png" alt="search" />
          </span>
        </div>
      </div>
      <div
        style="padding: 0"
        class="col-md-1 mt-3 d-flex justify-content-center"
      >
        <img
          style="margin-right: 20px"
          height="25px"
          src="/assets/img/cart-icon.png"
          alt="search"
        />
        <img height="25px" src="/assets/img/user-icon.png" alt="search" />
      </div>
      <div style="padding: 0" class="col-md-2 mt-2 d-flex justify-content-end">
        <button class="btn btn-outline-dark">
          <strong>Iniciar sesion</strong>
        </button>
      </div>
      <div class="col-md-1"></div>
    </div>
  </nav>
  <div class="menu-options">
    <ul class="nav justify-content-center">
      <li *ngFor="let option of menuOptions" class="nav-item">
        <a class="nav-link options" href="#" aria-current="page">{{
          option
        }}</a>
      </li>
    </ul>
  </div>
</div>
